	<footer class="footer">
		<div class="container">
			<div class="f-logo">
				<a href="https://gitnation.org" target="_blank">
					<div class="f-logo__desc">
						<p class="f-logo__by">Kongkow IT</p>
						<p class="f-logo__org">Pekanbaru</p>
					</div>
				</a>
			</div>

			<div class="nav">
				<li class="nav__item">
					<a class="nav__link js-scroll-to" href="https://github.com/KongkowITPekanbaru/landing-page">Source code</a>
				</li>
				<li class="nav__item">
					<a class="nav__link js-scroll-to" href="https://github.com/KongkowITPekanbaru/members">Member Repository</a>
				</li>
<!--				<li class="nav__item">-->
<!--					<a class="nav__link js-scroll-to" href="/faq">FAQ</a>-->
<!--				</li>-->
			</div>

			<div class="f-logo__dummy"></div>

			<a class="f-reserve basic-btn btn-green" href="https://t.me/kongkowITpekanbaru">
				<div class="basic-btn__inner">
					<div class="basic-btn__arr-l">
						<svg class="basic-btn__arrow" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
						</svg>
					</div>
					Gabung Sekarang
					<div class="basic-btn__arr-r">
						<svg class="basic-btn__arrow" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
						</svg>
					</div>
				</div>
			</a>
		</div>
	</footer><!-- .footer -->
