		<section class="section follow-us {{ 'tall' if followUsTall }}" id="contacts">
			<div class="follow-us__decor-pipe"></div>
			<div class="follow-us__decor-fish"></div>
			<div class="follow-us__decor-sub"></div>

			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>F</span></span>ollow us  for updates
						</h3>

						<ul class="scls">
							<li class="scls__item">
								<a href="https://t.me/kongkowITpekanbaru" target="_blank" class="scls__link">
									<svg class="scls__img soctel" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#scltel"></use>
									</svg>
								</a>
							</li>
							<li class="scls__item">
								<a href="https://www.instagram.com/kongkowitpekanbaru" target="_blank" class="scls__link">
									<svg class="scls__img socig" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#sclig"></use>
									</svg>
								</a>
							</li>
							<li class="scls__item">
								<a href="https://www.facebook.com/kongkowITpekanbaru" target="_blank" class="scls__link">
									<svg class="scls__img socfb" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#sclfb"></use>
									</svg>
								</a>
							</li>
							<li class="scls__item">
								<a href="https://medium.com/kongkowitpekanbaru" target="_blank" class="scls__link">
									<svg class="scls__img socmed" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#sclmed"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div>

					<div class="section__head-r">
						<form class="subscribe-form" action="https://gmail.us20.list-manage.com/subscribe/post?u=c4635380bd2bccaefd3e10c69&amp;id=d35e679d80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
							<p class="subscribe-form__title">Langganan via email untuk mendapatkan berita atau event terbaru dari kami:</p>

							<div class="subscribe-form__input-wrap">
								<input class="subscribe-form__input" type="email" name="EMAIL" id="mce-EMAIL" placeholder="email@kamu.com"/>
								<button class="subscribe-form__submit basic-btn" type="submit" name="subscribe" id="mc-embedded-subscribe">
									<div class="basic-btn__inner">
										<div class="basic-btn__arr-l">
											<svg class="basic-btn__arrow" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
											</svg>
										</div>
										<div class="basic-btn__text">Langganan</div>
										<div class="basic-btn__arr-r">
											<svg class="basic-btn__arrow" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
											</svg>
										</div>
									</div>
								</button>
							</div>
			  				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c4635380bd2bccaefd3e10c69_d35e679d80" tabindex="-1" value=""/></div>
						</form>
					</div>
				</div>


			</div>
		</section>
