		<section class="section give-back" id="give-back">

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>B</span></span>erbagi kepada sesama manusia
						</h3>

						<p class="section__desc">
							Di Talegong, Garus Selatan terdapat sebuah kampung yang seringkali disebut sebagai kampung janda.
						</p>
						<p class="section__desc">
							Perempuan-perempuan ini menjanda karena ditinggal meninggal dunia oleh suaminya.
						</p>
						<p class="section__desc">
							Miris, tak ada tempat yang layak bagi mereka untuk melaksanakan ibadahnya bersama-sama, karena masjid di kampung tersebut memiliki kondisi yang sangat memprihatinkan.
						</p>
						<p class="section__desc">
							Masjid yang hanya berukuran 5x6 ini menjadi satu-satunya masjid bagi warga dan para janda untuk beribadah. Atap bangunannya banyak yang bolong dan temboknya sudah banyak retakan.
						</p>
					</div>

					<div class="section__head-r">
						<div class="thank-progress">
							<div class="thank-progress__info">
								<p class="thank-progress__num">100%</p>
								<p class="thank-progress__desc">untuk sosial dan<br />pengumpulan<br />modal</p>
							</div>

							<div class="thank-progress__progress">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="give-back__btns">
					<a class="give-back__btn basic-btn btn-black" href="https://kitabisa.com/campaign/masjidkampungjanda">
						<div class="basic-btn__inner">
							<div class="basic-btn__arr-l">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
								</svg>
							</div>
							Ayo donasi ke campaign ini
							<div class="basic-btn__arr-r">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
								</svg>
							</div>
						</div>
					</a>

					<a class="give-back__btn basic-btn btn-green" href="https://t.me/jufiantohenri">
						<div class="basic-btn__inner">
							<div class="basic-btn__arr-l">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
								</svg>
							</div>
							Ingin campaign sosial mu tampil di halaman ini!
							<div class="basic-btn__arr-r">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
								</svg>
							</div>
						</div>
					</a>
				</div>

			</div>
		</section>
