		<section class="section about bg-black" id="event">
			<div class="about__decor-1"></div>
			<div class="about__decor-2"></div>

			<div class="container">
				<a class="about__reserve basic-btn btn-green" href="https://t.me/kongkowITpekanbaru">
					<div class="basic-btn__inner">
						<div class="basic-btn__arr-l">
							<svg class="basic-btn__arrow" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
							</svg>
						</div>
						Gabung Sekarang
						<div class="basic-btn__arr-r">
							<svg class="basic-btn__arrow" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#arrow_r"></use>
							</svg>
						</div>
					</div>
				</a>

				<div class="about__left">
					<h2 class="section__title about__title">
						<span class="initial"><span>B</span></span>elajar<br/> tanpa Sekat
					</h2>

					<p class="about__subtitle">Kongkow IT Pekanbaru merupakan wadah diskusi, belajar dan sharing para pengiat IT, mahasiswa,pelajar, praktisi dan akademisi.</p>
					<div class="about__desc">
						<p>Kongkow IT didirikan pada bulan April 2017 oleh Predi Senior dan saya sendiri Jufianto Henri dan beberapa teman lainnya.</p>
						<p>Biasanya kegiatan kumpul kumpul bareng dilakukan pada setiap bulan dengan berbagai materi terkait IT, seperti jaringan, keamanan, programming dan desain.</p>
					</div>
				</div>

				<div class="about__right">
					<div class="features">
						<div class="features__item">
							<div class="features__time">
								<div class="features__date">3.0<span>th</span></div>
								<div class="features__plus to-bottom">+</div>
							</div>
							<div class="features__desc">
								<p class="features__title">Seminar & Workshop</p>
								<p class="features__p">Sudah banyak seminar yang telah diadakan dan dihadiri oleh Kongkow IT Pekanbaru</p>
							</div>
						</div>

						<div class="features__item">
							<div class="features__img-wrap">
								<svg class="features__img" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#feature_3"></use>
								</svg>
							</div>
							<div class="features__desc">
								<p class="features__title">Tempat Sharing & Ngobrol Santai </p>
								<p class="features__p">Kamu bisa menanyakan seputar teknologi terbaru ataupun mencari solusi permasalahan IT yang sedang kamu hadapi, atau hanya sekedar mendengarkan ilmu-ilmu dari para ahli.</p>
							</div>

							<div class="advices-techs">
								<div class="advices-techs__item">
									<div class="advices-techs__img-wrap">
										<img src="img/logo-network.svg" />
									</div>
									<p class="advices-techs__title">Networking</p>
								</div>

								<div class="advices-techs__item">
									<div class="advices-techs__img-wrap">
										<img src="img/logo-coding.svg" />
									</div>
									<p class="advices-techs__title">Coding</p>
								</div>

								<div class="advices-techs__item">
									<div class="advices-techs__img-wrap">
										<img src="img/logo-security.svg" />
									</div>
									<p class="advices-techs__title">Security</p>
								</div>

								<div class="advices-techs__item">
									<div class="advices-techs__img-wrap">
										<img src="img/logo-communication.svg" />
									</div>
									<p class="advices-techs__title">Have Fun</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
