---
title: Kongkow IT Pekanbaru

intro: {
	index: true,

	stats: [
		{
			num: '10+',
			desc: 'Seminar & Workshop'
		}, {
			num: '700+',
			desc: 'Member'
		}, {
			num: '8',
			desc: 'Repository Aktif'
		}
	]
}

locSlider: [
	{
		img: 'loc_1.jpg',
		caption: 'Main Hall',
	},{
		img: 'loc_2.jpg',
		caption: 'The London Eye',
	},{
		img: 'loc_3.jpg',
		caption: 'Big Ben',
	},{
		img: 'loc_4.jpg',
		caption: 'Tower Bridge',
	},{
		img: 'loc_5.jpg',
		caption: 'The Shard',
	},{
		img: 'loc_6.jpg',
		caption: 'London City',
	},{
		img: 'loc_7.jpg',
		caption: 'Oval Space',
	}
]

scheduleEast: [
    {
		disconnected: true,
		time: '02 Des 2018',
		title: 'Kongkow IT Pekanbaru Menggelar Pelatihan Web Developer',
		speaker: 'Jufianto Henri',
		desc: 'Hallo teman-teman Kongkow IT Pekanbaru, pada tanggal 9 November yang lalu Kongkow IT Pekanbaru kembali mengadakan event sharing session Web Developer.<br /><br />
		<a href="https://medium.com/kongkowitpekanbaru/kongkow-it-pekanbaru-menggelar-pelatihan-web-developer-b32841842e8e">Baca Selengkapnya</a>'
	},{
		disconnected: true,
		time: '07 Sep 2018',
		title: 'Install Linux ? ini yang saya lakukan',
		speaker: 'Jufianto Henri',
		desc: 'Tentunya kita sangat menginginkan sistem yang kita pakai selalu up to date, apalagi kalau update kita enggak perlu takut sistem yang akan di update bakalan ketauan lisesnsi.<br /><br />
		<a href="https://medium.com/kongkowitpekanbaru/install-linux-ini-yang-saya-lakukan-a1d499106330">Baca Selengkapnya</a>'
	},{
		disconnected: true,
		time: '20 Jan 2018',
		title: 'Rangkuman Kegiatan Kongkow IT Pekanbaru',
		speaker: 'Jufianto Henri',
		desc: 'Kongkow IT Pekanbaru merupakan wadah diskusi, belajar dan sharing para pengiat IT, mahasiswa,pelajar, praktisi dan akademisi.<br /><br />
		<a href="https://medium.com/kongkowitpekanbaru/rangkuman-kegiatan-kongkow-it-pekanbaru-9815d629805f">Baca Selengkapnya</a>'
	},{
		disconnected: true,
		time: '26 Nov 2017',
		title: 'Kongkow IT Pekanbaru Menggelar Workshop Wireless Outdoor',
		speaker: 'Predi Senior',
		desc: 'Pada meetup kali ini kongkow IT mengadakan sharing dengan bertema wireless outdoor.<br /><br />
		<a href="https://medium.com/kongkowitpekanbaru/kongkow-it-pekanbaru-menggelar-workshop-wireless-outdoor-4f782485d926">Baca Selengkapnya</a>'
	}
]

sponsors: [
	{
		title: 'List Partner',
		mod: 'partners',
		last: true,

		logos: [
			{
				link: 'https://www.instagram.com/startuppekanbaru',
				img: 'startuppekanbaru.png'
			},{
				link: 'https://www.instagram.com/meetup.co.id',
				img: 'meetup.png'
			},{
				link: 'https://www.instagram.com/dilo.id',
				img: 'dilo-pku.png'
			},{
				link: '#',
				img: 'coming-soon.png'
			},{
				link: '#',
				img: 'coming-soon.png'
			},{
				link: '#',
				img: 'coming-soon.png'
			},{
				link: '#',
				img: 'coming-soon.png'
			},{
				link: '#',
				img: 'coming-soon.png'
			},{
				link: '#',
				img: 'coming-soon.png'
			},{
				link: '#',
				img: 'coming-soon.png'
			},{
				link: '#',
				img: 'coming-soon.png'
			},{
				link: '#',
				img: 'coming-soon.png'
			}
		]
	}
]
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		{% include "partials/_intro.html" %}

		{% include "partials/_about.html" %}

		{% include "partials/_follow.html" %}

		{% include "partials/_schedule.html" %}

		{% include "partials/_workshop-promo.html" %}

		{% include "partials/_sponsors.html" %}

		{% include "partials/_give-back.html" %}

	</main><!-- .content -->


{% include "partials/_footer.html" %}

{% endblock %}
