---
title: Member - Kongkow IT Pekanbaru
followUsTall: true
inner: true
pageKEREN: false
speakers: [
	{
		img: 'ahmad.jpg',
		name: 'Ahmad Ainul Rizki',
		company: 'Founder KaryaNesia',
		info: 'UI/UX Designer ⚡ Full stack developer ⚡ React | Vue | Part-Time Open-Sourcerer',
		tag: 'Jomblo Fisabilillah',
		scls: [
			{
				link: 'https://github.com/tanahatas',
				icon: 'gh',
			},{
				link: 'https://twitter.com/ehadaahmad',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}, {
		img: 'foto-kamu.jpg',
		name: 'Nama Kamu',
		company: Jabatan Kamu',
		info: 'Software Engineer, Team Lead, Co-Maintainer of Spectacle.',
		tag: 'Penghuni Bumi',
		scls: [
			{
				link: 'https://github.com/',
				icon: 'gh',
			},{
				link: 'https://twitter.com/',
				icon: 'tw',
			}
		]
	}
]
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		{% include "partials/_speakers.html" %}

		{% include "partials/_follow.html" %}

	</main>

{% include "partials/_footer.html" %}

{% endblock %}
